@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  width:100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('https://res.cloudinary.com/djnhaprmj/image/upload/v1631605080/laptop-notepad-with-app-icons_pirrgp.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
