@font-face {
  font-family: Avenir;
  src: url("../assets/fonts/Avenir\ Roman.otf");
}
@font-face {
  font-family: Gotham;
  src: url("../assets/fonts/Gotham-MediumItalic.otf");
}
@font-face {
  font-family: GothamV2;
  src: url("../assets/fonts/Gotham-Medium.otf");
}
//ALL CONTAINERS
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: Avenir;
  backdrop-filter: blur(1.5px);
  h2 {
    margin: 0 3em;
  }
  h3 {
    margin: 1em 2.5em;
  }
  h1,
  h2,
  h3 {
    text-align: center;
    font-family: Gotham;
    color: #ffffff;
    background-color: #889eafa8;
    padding: 0 0.8em;
    border-top-left-radius: 1em 100%;
    border-bottom-right-radius: 1em 100%;
    text-shadow: 2px 2px 2px #001529;
  }
}

//INICIO
.flags {
  width: 20em;
}
.flags,
.flags-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  img {
    cursor: pointer;
    border-radius: 0.5em;
  }
}
.contentFlag {
  display: flex;
  justify-self: center;
  border-radius: 5em;
  box-shadow: 2px 2px 2px #889eafa8;
  padding: 0.5em;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    background-color: #45c5e541;
  }
}
.hiddenCode {
  display: none;
}
.displayName,
.displayCode {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.inputCode {
  margin: 0 auto;
  color: #ffffff;
  text-shadow: 2px 2px 2px #001529;
}
.inputName,
.inputCode {
  width: 80%;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0px 0px 7px black;
  outline: none;
  font-family: Avenir;
  font-size: 1.1rem;
  margin-top: 0.5em;
  padding: 0.3em !important;
  text-align: center;
  font-family: Avenir;
  &::placeholder {
    text-align: center;
    font-family: Avenir !important;
  }
}
.titleInput {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.5em;
  color: #ffffff;
  text-shadow: 2px 2px 2px #001529;
  margin-bottom: 0.5em;
}
.send {
  font-family: Avenir;
  border: none;
  width: 100px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.6em;
  padding: 0.3em;
  border-radius: 0.2em;
  background-color: #001529cb;
  &:hover {
    background-color: #001529;
  }
  &:active {
    transform: scale(0.95);
  }
}
.errors {
  margin: 0;
  margin: 0.2rem 0 0 0;
  padding: 0;
  color: #ff0000;
  font-weight: bold;
}
.buttons {
  width: 20em;
  margin: 1em auto;
}
.slideRight {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.slideRight li {
  padding: 0.9em;
  font-weight: bold;
  box-shadow: 0px 0px 5px #ffffff inset;
  border-radius: 0.5em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  color: #ffffff;
  background-color: #0015297c;
  cursor: pointer;
}
.slideRight li:active {
  transform: scale(0.9);
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0.5em;
}

//HOME
.contentAbout {
  width: 50em;
  text-align: justify;

  p {
    background-color: #d4b499a8;
    line-height: 1.5;
    font-size: 1.1rem;
    font-style: italic;
    text-shadow: 2px 2px 2px #000000;
    color: #ffffff;
    padding: 1.2em 0.7em;
    border-top-left-radius: 0.5em 10%;
    border-bottom-right-radius: 0.5em 10%;
  }
}

@media screen and (max-width: 900px) {
  .contentAbout {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .contentSlider {
    width: 30em;
  }
  .imageSlider {
    min-height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .displayName,
  .displayCode {
    width: 100%;
  }
  .displayCode {
    margin: 0;
  }
  .inputName,
  .inputCode {
    width: 90%;
  }
  .inputCode {
    margin: 0.5em auto;
  }
  .contentAbout {
    width: 90%;
  }
  .contentCards {
    width: 80%;
  }
  .cardsUp li,
  .cardsDown li {
    width: 14em;
    margin: 0.1em;
  }
  .contentAbout {
    p {
      line-height: 1;
      text-shadow: 0px 0px 10px #000000;
    }
  }
}

@media screen and (max-width: 450px) {
  .contentProject {
    width: 90%;
  }
  .imageSlider {
    min-height: 200px !important;
    img {
      min-height: 200px !important;
    }
  }

  .container {
    h1 {
      margin: 1em;
      padding: 0;
    }
  }
}

@media screen and (max-width: 350px) {

  .form {
    width: 15em;
  }
}
