//NAVBAR
nav {
  width: 3em;
  height: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
};

.registered,
.open {
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #03989E;
};

.ocult {
  display: none;
};

.open {
  width: 3em;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  transition: width .3s ease-out;

  li {
    padding: 15px 0;
  }

};

ul[data-show='false'] {
  .exit,
  .route,
  .carousel,
  .image {
    display: none;
  };
}

.registered {
  width: 10em;
  justify-content: space-between;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  transition: width .3s ease-in;
  z-index: 2;
  position: relative;
  height: 100%;
  min-height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    li {
      text-align: justify;
      margin: 0;
      padding: 10px 20px;
      color: #3b3b3b;
      transition: all .4ms ease-in;

      &:hover {
        background-color: #004040;
        color: #03989E;
      }
    }
  }

  .image {
    position: absolute;
    top: 75px;
    left: 10px;
    width: 15em;
    transition: position 1ms ease-out;
    
    .test {
      border: 10px solid #03989E !important;
    }
  };

  .exit {
    text-transform: uppercase;
  }

  .carousel {
    ul{
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
  
        &:hover {
          background-color: #004040;
        }
      }
    }
  }

  li {
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 0.8rem;
  }

};

.active {
  color: #ffffff !important;
  background-color: #004040;
};

.open li,
.registered li {
  cursor: pointer;
};

.image {
  padding: 0.5em;
};

.container_language {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 4em;

  .lang_list {
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
      float: right;
      transition: all 1ms ease-in-out;
    }

    .content_icon_world {
      transition: all 1ms ease-in-out;

      .icon_world {
        background-color: #03989E;
        border-radius: 50%;
        border: 5px solid #03989E !important;
        z-index: 3;

        &:hover {
          transition: all .5ms ease-in;
          border-color:#004040 !important;
        }
      }
    }

    .content_flag_england,
    .content_flag_españa,
    .content_flag_portugal {
      transition: all 1ms ease-in-out;
      
      .flag_england,
      .flag_españa,
      .flag_portugal {
        border-radius: 5px;
        background-color: #03989E;
        border: 5px solid #03989E;

        &:hover {
          transition: all .5ms ease-in;
          background-color: #004040;
          border-color:#004040 !important;
        }
      }
    }
  }
}